.reviewsimg{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; 
   
    
}
.reviewsbox{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 20;
}
.reviewsbox:after{
    content: "";
    width: 40px;
    height: 40px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top:100%;
    left: 5%;
    transform: rotate(180deg);
    z-index: -1;
    clip-path: polygon(51% 26%, 0 100%, 100% 100%);
}


.reviewsheader{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("https://wallpapers.com/images/featured/navy-blue-background-7hjjat8tuk4sczzw.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size:100% 110%;


}